<div class="chart-card">
  <h3 class="chart-title">Evolução Mensal do Saldo</h3>
  <p class="chart-subtitle">Últimos 12 meses</p>

  <div class="chart-container">
    <ngx-charts-line-chart
      [results]="data()"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [legend]="false"
      [scheme]="colorScheme"
      [autoScale]="true"
      [referenceLines]="referenceLines"
      [showRefLines]="true"
      [showRefLabels]="true"
      [yAxisTickFormatting]="formatCurrency"
      [animations]="false">
      <ng-template #tooltipTemplate let-model="model">
        @if (hasTooltipValue(model)) {
          <div class="chart-tooltip">
            @if (tooltipSeries(model); as series) {
              <p class="chart-tooltip__series">{{ series }}</p>
            }
            <p class="chart-tooltip__title">{{ tooltipCategory(model) }}</p>
            <p class="chart-tooltip__value">{{ tooltipValue(model) }}</p>
          </div>
        }
      </ng-template>
    </ngx-charts-line-chart>
  </div>
</div>
