<div class="chart-card">
  <h3 class="chart-title">Receitas vs Despesas</h3>
  <p class="chart-subtitle">Últimos 6 meses</p>

  <div class="chart-container" data-chart-tooltips>
    <ngx-charts-bar-vertical-2d
      [results]="chartData()"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [legend]="false"
      [scheme]="colorScheme"
      [customColors]="customColors"
      [groupPadding]="8"
      [barPadding]="4"
      [roundEdges]="true"
      [yAxisTickFormatting]="formatCurrency"
      [tooltipDisabled]="false"
      [animations]="true">
      <ng-template #tooltipTemplate let-model="model">
        <div class="chart-tooltip">
          @if (tooltipSeries(model); as series) {
            <p class="chart-tooltip__series">{{ series }}</p>
          }
          <p class="chart-tooltip__title">{{ tooltipCategory(model) }}</p>
          <p class="chart-tooltip__value">{{ tooltipValue(model) }}</p>
        </div>
      </ng-template>
    </ngx-charts-bar-vertical-2d>
  </div>

  <app-chart-legend
    [items]="legendItems"
    [hidden]="hiddenSeries()"
    (toggle)="onLegendToggle($event)" />
</div>
